
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 30px;
}
span{
    color: red;
    font-size: 40px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
section{
    height: 300px;
    padding-bottom: 50px;
}
.button{
    text-decoration: none;
    background-color: red;
   padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
}
.top-banner{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}
.bio-area{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.hard-work{
    margin-top: 800px;
    text-align: center;
}
.hard-work h2{
    padding-bottom: 50px;
}
#pic{
    width: 100%;
    padding-right: 10%;
   
}
.get-mad{
    width: 30%;
    float: left;
    margin-left: 2%;
    padding-left: 1%;
   align-items: center;   
}
.hard-work{ 
    height: 300px;
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    padding-bottom: 200px;
}.bottom{
    text-align: center;
    padding-bottom: 200px;
}
h6{
    color: gray;
}
.underline{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#box{
background-color:red;
border-radius: 10px;
border-width: 20%;
margin: 10px 400px;
padding: 25px 1px;
color: white;
}
footer{
    background-image: url(images/footer-bg.png);
    text-align: center;
    font-size: 10px;
    color: gray;
}